@model LocalWeather.Domain.WeatherForecast
@{
    foreach (var forecast in Model.Forecast)
    {
        var day = String.Empty;
        if (forecast.ValidTime.ToLocalTime().ToShortDateString() == DateTime.Today.ToShortDateString())
        {
            day = "Today";
        }
        else if(forecast.ValidTime.ToLocalTime().Hour == 0)
        {
            day = "Today";
        }
        else if (forecast.ValidTime.ToLocalTime().ToShortDateString() == DateTime.Today.AddDays(1).ToShortDateString())
        {
            day = "Tomorrow";
        }

        <table class="centerTable displayData">
            <tr class="category">
                <td rowspan="2">@day</td>
                <td>Forecast</td>
                <td>Temperature</td>
                <td>Wind</td>
                <td>Direction</td>
            </tr>
            <tr class="data">
                <td>@forecast.WeatherCategory</td>
                <td>@forecast.Temperature °C</td>
                <td>@forecast.Wind m/s</td>
                <td>@forecast.WindDirection</td>
            </tr>
        </table>
    }
}